<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.unir.oscardo.kenapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Egreso"
            android:label="@string/title_activity_egreso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ingreso"
            android:label="@string/title_activity_ingreso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Configuracion" />
        <activity android:name=".ListarLogs" />
        <activity android:name=".Listar_Egreso" />
        <activity android:name=".Listar_Ingresos" />
        <activity android:name=".Balance" />
        <activity android:name=".Actualizar_Egreso" />
        <activity android:name=".Actualizar_Ingresos" />
        <activity android:name=".Balance_Mensual" />
        <activity android:name=".Eliminar_Emigrar" />
        <activity android:name=".Eliminar_Ingresos" />
        <activity android:name=".About"></activity>
    </application>

</manifest>